<style>

    body{
        background-image: url(/assets/lb.png);
    }

/*FADE ANIMATION*/
     .animated {
        background-repeat: no-repeat;
        background-position: left top;
        padding-top:20px;
        margin-bottom:30px;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
     }
     
     @-webkit-keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
     }
     
     @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
     }
     
     .fadeIn {
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
     }
</style>
      
<body>

<!--ANIMATION FADE IN--> 
<div id = "animated-example" class = "animated fadeIn">

    <div class="container" style="background-color: white; margin-top: 5%; margin-bottom: 5%; border: 1px solid #CCD1D1; border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); max-width: 50%;">

      <div class="row">

        <div class="col-md-6" style="  background-color: white; border-top-left-radius: 5px; border-bottom-left-radius: 5px;color: #fff; padding: 15px; text-align: center;">
          <h1 style="color: black"><span id="fl">Book</span><span id="sl"> Review</span></h1>
          <%= image_tag ("/assets/signin-image.jpg"), class: "img-responsive"%>
        </div>

        <div class="col-md-6" style="background-color: white; padding: 15px">
        
           <center><h2>Log In</h2></center>

                          <p class="alert" id="alert_sample"><%= alert %></p>

                          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                            <div class="form-inputs">
                              <!--EMAIL-->
                              <%= f.input :email,
                                          placeholder: "Email",
                                          required: false,
                                          autofocus: true,
                                          input_html: { autocomplete: "email" } %> 
                              <!--PASSWORD-->  
                                        
                               <p id="alert_dito"><%= f.input :password,

                                          placeholder: "Password",
                                          required: false,
                                          input_html: { autocomplete: "current-password" } %></p>
                              <!--REMEMBER ME CHECKBOX-->            
                              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                            </div>

                            <div class="form-actions">
                              <!--LOGIN BUTTON-->
                              <%= f.button :submit, "Log in", class: "btn-custom4", onclick: "sweet();"%>
                              <a href="/users/sign_up", class="btn-custom4"> Sign Up </a> 
                            </div>
                          <% end %>
          
        </div>
      </div>
    </div>
</div>
<!--********************-->   

</body>


