<!DOCTYPE html>
<html>
  <head>

    <link href="/assets/heartbooks.ico" rel="shortcut icon" type="image/x-icon" />
    <title>BookApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>

  <!--Margin for right and left-->
      <%= yield %>
    

</body>
</html>
